.protocol {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 8px;
  transition: all 0.2s ease;
}

.protocol img {
  width: 16px;
  margin-right: 2px;
  height: auto;
}
.compound img{ 
  height: 16px;
  width: auto;

}
/* 
/* Custom coloring for dark mode */
@media (prefers-color-scheme: dark) {
  .protocolLogo {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
  }
}

/* Add responsive styles */
@media (max-width: 768px) {
  .protocol {
    padding: 3px 6px;
  }
  
  .large {
    font-size: 0.9rem;
  }
}

/* Add this to your Protocol.module.css file */
.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 100;
  margin-bottom: 8px;
  max-width: 250px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}